body{
    background-color: rgba(0, 0, 0, 0.856);
    font: 15px arial;
}
header{
    color: rgb(113, 238, 113);
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    widows: 500px;px;
    margin:auto ;
    padding:15px ;
    box-shadow:3px 3px 10px rgb(112, 76, 76);
}
footer{
    color: rgb(113, 238, 113);
    text-align: center;
}